@import "../../../../common/styles/colors";

.content {
  justify-content: space-between;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: $main-color;
}

.btnShowSidenav {
  width: auto;
  height: auto;
}
