<div class="gl-header-wrapper">
  <div class="content gl-header-content gl-page-content">

    <div>
      <button mat-icon-button class="btnShowSidenav"
              *ngIf="!(sidenavIsShow$ | async)"
              (click)="toggleSidenav()">
        <mat-icon>&#xe5d2;</mat-icon>
      </button>
    </div>

    <div class="user-wrapper">
      <div class="gl-header-item-wrapper">
        <div class="user-name">
          {{ userName$ | async }}
        </div>
      </div>

      <div class="gl-header-item-wrapper">
        <a mat-icon-button (click)="exit()" [routerLink]="['/not-auth']">
          <span class="material-icons">&#xe879;</span>
        </a>
      </div>
    </div>
  </div>
</div>
