<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">datepicker</div>
    <div class="datepicker-wrapper">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Введите дату</mat-label>
        <input [formControl]="dateControl" matInput [matDatepicker]="picker" #date autocomplete="off">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button (click)="picker.open()">Календарь</button>
    </div>
    <div class="gl-btn-wrapper">
      <button (click)="submit()" mat-raised-button color="primary">Получить в консоли</button>
    </div>
  </div>
</mat-card>
