<form [formGroup]="formFilter" class="filter-wrapper gl-coupons-page-content">
  <mat-form-field class="query-wrapper">
    <mat-label>Search store, code or source</mat-label>
    <input matInput type="text" placeholder="Search store, code or source" autocomplete="off"
           formControlName="query">
    <button mat-button *ngIf="formFilter.controls.query.value"
            (click)="formFilter.controls.query.reset()"
            matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="datepicker-wrapper">
    <mat-label>Show the period</mat-label>
    <mat-date-range-input
      [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start date"
             [formControl]="fromDate"
             (change)="changeFromMS($event)">
      <input matEndDate placeholder="End date"
             [formControl]="toDate"
             (change)="changeToMS($event)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="programs-wrapper">
    <mat-label>Affiliate program</mat-label>
    <mat-select [formControl]="selectedAffiliatePrograms" multiple>
      <mat-option *ngFor="let item of (programsItemsList$ | async)"
                  [value]="item.programName"
                  (click)="selectProgram(item)">
        {{ item.programName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="creator-wrapper">
    <mat-label>Creator</mat-label>
    <mat-select [formControl]="creatorId">
      <mat-option *ngFor="let item of (usersItemsList$ | async)" [value]="item.value"
                  (click)="changeCreatorId(item.id)">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="status-wrapper">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="status">
      <mat-option *ngFor="let item of (statusItemsList$ | async)" [value]="item.value"
                  (click)="changeStatus(item.id)">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="number-result-wrapper">
    <div>{{ couponsNum$ | async }} coupons</div>
  </div>
</form>
