.filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.number-result-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-bottom: 1.25em;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.38);
}
