.section-content {
  width: 800px;
  background-color: #ffffff;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-field {
  & + & {
    margin-top: 20px;
  }
}
