<div class="section-content">

  <form [formGroup]="form">
    <app-form-field type="first"
                    [errorMessages]="{
                      required: 'first. Обязательно для заполнения!'
                    }">
      <input type="text" formControlName="first" #child>
    </app-form-field>

    <app-form-field type="second"
                    [errorMessages]="{
                      required: 'second. Обязательно для заполнения!',
                      minlength: 'second. Минимум 3 символа!'
                    }">
      <input type="text" formControlName="second" #child>
    </app-form-field>
  </form>
</div>
