@import "colors";
@import "consts";

tr, td, th, td img {
  vertical-align: middle;
}

.gl-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gl-layout-header {
  flex: 0 0 auto
}

.gl-layout-content {
  flex: 1 1 100%;
}

.gl-layout-footer {
  flex: 0 0 auto;
}

.gl-link {
  color: #6D26F5 !important;

  &:hover {
    color: #E93587 !important;
  }
}

.gl-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.gl-page-content {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.gl-content-not-auth {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gl-title {
  color: $main-color;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.gl-subtitle {
  color: $main-background;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.gl-header-wrapper {
  background-color: $main-background;
  height: $header-height;
}

.gl-header-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.gl-header-item-wrapper {
  & + & {
    margin-left: 30px;
  }

  .gl-sections-caption {
    font-size: 18px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .gl-link-active {
    text-decoration: underline;
    color: $main-color;
  }
}

.gl-form-not-auth {
  width: 400px;
  border: 4px solid $main-background;
  border-radius: 10px;
  padding: 10px;

  .gl-input-wrapper {
    width: 100%;
  }

  .gl-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}

.gl-footer-wrapper {
  height: 80px;
  background-color: #5e4630;
}

.gl-loading-scroll {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: darkred;
  margin: 10px 0;
}

.gl-warning {
  text-align: center;
  font-size: 80px;

  &.loader {
    color: darkgreen;
  }

  &.error {
    color: #640003;
  }

  &.no-data {
    color: #666666;
  }
}

.gl-progress-spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .mat-spinner, .mat-progress-spinner svg {
    width: 40px !important;
    height: 40px !important;
  }

  .mat-spinner circle, .mat-progress-spinner circle {
    stroke: $main-color;
  }
}

.gl-coupons-page-content {
  padding: 0 $page-content-padding;
}

.gl-table-wrapper {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.gl-header-row {
  height: 58px !important;
}

.gl-row-wrapper {
  height: 52px !important;

  &:last-child {
    .gl-row {
      border-bottom: 0;
    }
  }
}

.gl-row {
  height: 100%;
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
}

.gl-header-cell {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.gl-cell {
  letter-spacing: -.02em;
  padding: 6px;

  &.mod-description {
    letter-spacing: -0.02em;
    max-width: 220px;
    max-height: 40px;
    overflow: hidden;
  }
}

.gl-header-cell, .gl-cell {
  font-size: 12px;
  line-height: 20px;
  padding: 4px 12px !important;

  &:first-of-type {
    padding-left: $page-content-padding !important;
  }

  &:last-of-type {
    padding-right: $page-content-padding !important;
  }
}

.gl-overflow-table-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gl-message-not-exist {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 15px 0;
}

.gl-input-text {
  padding: 5px;
  width: 250px;

  &.mod-type-first {
    border-bottom: 2px solid #000000;

    &.invalid {
      &.touched {
        border-bottom-color: red;
      }
    }
  }

  &.mod-type-second {
    border: 1px solid #000000;
    border-radius: 20px;

    &.invalid.touched {
      border-color: red;
    }
  }
}

.gl-form-field-error {
  color: red;
  height: 0;
  transition: height 200ms;
  overflow: hidden;

  &.show {
    height: 18px;
  }
}
