<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">Состав пиццы</div>
    <div class="select-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Выберете начинку</mat-label>
        <mat-select [formControl]="selectControl" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="result-wrapper">
        <div class="caption">Вы выбрали:</div>
        <div class="value-wrapper">
          <div *ngFor="let item of (items$ | async)">
            {{ item }}
          </div>
          <br>
        </div>
      </div>
    </div>

    <div class="gl-btn-wrapper">
      <button (click)="submit()" mat-raised-button color="primary">Получить в консоли</button>
    </div>
  </div>
</mat-card>
