.select-wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
