<section infiniteScroll (scrolled)="onScroll()">
  <div class="gl-subtitle">Список магазинов (shops-list)</div>
  <div class="shops-wrapper">
    <app-shop-item *ngFor="let shop of (shops$ | async)"
                   [shop]="shop">
    </app-shop-item>
  </div>
  <div class="gl-loading-scroll" *ngIf="isLoading$ | async">Загрузка</div>
</section>
