<div class="gl-header-wrapper">
  <div class="gl-header-content gl-page-content">
    <div class="gl-header-item-wrapper">
      <a class="gl-sections-caption"
         [routerLink]="['/not-auth/authorization']"
         [routerLinkActive]="['gl-link-active']">
        Войти
      </a>
    </div>
    <div class="gl-header-item-wrapper">
      <a class="gl-sections-caption"
         [routerLink]="['/not-auth/registration']"
         [routerLinkActive]="['gl-link-active']">
        Регистрация
      </a>
    </div>
  </div>
</div>
