<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">slider toggle</div>
    <form (submit)="submit()" [formGroup]="form">
      <div class="slider-toggle-wrapper">
        <mat-card>
          <mat-card-content>
            <h2 class="slider-title">Настройки слайдера</h2>

            <section class="slider-section">
              <label class="slider-item">Цвет:</label>
              <mat-radio-group formControlName="color">
                <mat-radio-button class="slider-item" value="primary">
                  Голубой
                </mat-radio-button>
                <mat-radio-button class="slider-item" value="accent">
                  Розовый
                </mat-radio-button>
                <mat-radio-button class="slider-item" value="warn">
                  Красный
                </mat-radio-button>
              </mat-radio-group>
            </section>

            <section class="slider-section">
              <mat-checkbox class="slider-item" formControlName="checked">Активировать слайдер</mat-checkbox>
            </section>

            <section class="slider-section">
              <mat-checkbox class="slider-item" formControlName="disabled">Деактивировать слайдер</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>

        <mat-card class="result">
          <mat-card-content>
            <h2 class="example-h2">Результат</h2>

            <section class="slider-section">
              <mat-slide-toggle
                class="slider-item"
                [color]="color$ | async"
                [checked]="checked$ | async"
                [disabled]="disabled$ | async">
                Slide me!
              </mat-slide-toggle>
            </section>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="gl-btn-wrapper">
        <button type="submit" mat-raised-button color="primary">Получить в консоли</button>
      </div>
    </form>

  </div>
</mat-card>
