.slider-toggle-wrapper {
  margin-bottom: 10px;
}

.slider-title {
  margin: 10px;
}

.slider-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.slider-item {
  margin: 10px;
}
