<section class="section-wrapper" infiniteScroll (scrolled)="nextPage()">
  <div class="content-wrapper">
    <app-filter [formFilter]="formFilter"
                [programsData]="programsData"
                [usersData]="usersData"
                #filterComponent>
    </app-filter>
    <app-table #tableComponent [formFilter]="formFilter"></app-table>

    <ng-container *ngIf="isLoading$ | async">
      <div class="gl-progress-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!tableComponent.dataSource.data.length && !(isLoading$ | async)">
      <div class="gl-message-not-exist">
        No matches found
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="isError$ | async">
    <div class="gl-warning error">
      Ошибка
    </div>
  </ng-container>
</section>
