<div class="gl-content-not-auth gl-page-content">
  <div class="content-wrapper">
    <form class="gl-form-not-auth" [formGroup]="form" (submit)="submit()">
      <mat-form-field class="gl-input-wrapper">
        <mat-label>Придумайте логин</mat-label>
        <input type="text" matInput placeholder="Логин" autocomplete="off"
               formControlName="login"
               [matAutocomplete]="login">
        <mat-autocomplete autoActiveFirstOption #login="matAutocomplete">
          <mat-option *ngFor="let option of filteredLogins | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="gl-input-wrapper">
        <mat-label>Придумайте пароль</mat-label>
        <input type="password" matInput placeholder="Пароль" autocomplete="off"
               formControlName="password"
               [matAutocomplete]="password">
        <mat-autocomplete autoActiveFirstOption #password="matAutocomplete">
          <mat-option *ngFor="let option of filteredPasswords | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="gl-input-wrapper">
        <mat-label>Повторите пароль</mat-label>
        <input type="password" matInput placeholder="Пароль" autocomplete="off"
               formControlName="repeatPassword"
               [matAutocomplete]="password">
        <mat-autocomplete autoActiveFirstOption #password="matAutocomplete">
          <mat-option *ngFor="let option of filteredPasswords | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section>
        <div class="gl-btn-wrapper">
          <button type="submit" mat-raised-button color="primary">Зарегистрироваться</button>
        </div>
      </section>

    </form>
  </div>
</div>

