<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">datepicker range</div>
    <div class="datepicker-range-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Диапазон даты</mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>

      <div class="gl-btn-wrapper">
        <button (click)="submit()" mat-raised-button color="primary">Получить в консоли</button>
      </div>
    </div>
  </div>
</mat-card>
