.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 20px;
  border: 1px dashed #5e4630;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
  height: 100%;
  background-color: #ffffff;
}

a {
  &:hover {
    text-decoration: underline;
    color: #3f51b5;
  }
}

.logo {
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 60px;
}
