<div class="item-wrapper">
  <div>
    <a [href]="(link$ | async) | linkTransform">
      {{ title$ | async }}
    </a>
  </div>
  <div class="logo"
       [ngStyle]="{'background-image': 'url(' + (logo$ | async) + ')'}">
  </div>
</div>
