<mat-card>
  <div class="gl-subtitle">chips</div>
  <div class="chips-wrapper">
    <mat-form-field class="chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let fruit of (chips$ | async)" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(fruit)">
          {{ fruit.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Новые items ..."
               [formControl]="chipsControl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add()">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="gl-btn-wrapper">
    <button (click)="submit()" mat-raised-button color="primary">Получить в консоли</button>
  </div>
</mat-card>
