<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">radio</div>
    <div class="radio-wrapper">
      <label id="example-radio-group-label">Выберете время года:</label>
      <mat-radio-group class="radios-wrapper" [formControl]="radioControl">
        <mat-radio-button class="radio-btn" *ngFor="let season of seasons" [value]="season">
          {{ season }}
        </mat-radio-button>
      </mat-radio-group>

      <div>Вы выбрали: {{ items$ | async }}</div>
    </div>

    <div class="gl-btn-wrapper">
      <button (click)="submit()" mat-raised-button color="primary">Получить в консоли</button>
    </div>
  </div>
</mat-card>
