.radio-wrapper {
  margin-bottom: 10px;
}

.content-wrapper {
  min-width: 270px;
}

.radios-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-btn {
  & + & {
    margin-top: 10px;
  }
}
