<div class="content-wrapper">
  <div class="content">
    <div class="block-wrapper">
      <div class="item-wrapper">
        <div class="caption">Location:</div>
        <input class="input" type="text" [formControl]="inputLocation">
        <div class="btn-wrapper">
          <button class="btn"
                  (click)="createWebsocket()"
                  [disabled]="(isConnected$ | async) || (isConnecting$ | async)">
            Connect
          </button>
          <button class="btn"
                  (click)="clearWebsocket()"
                  [disabled]="!(isConnecting$ | async)">
            Disconnect
          </button>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="caption">Message:</div>
        <input class="input" type="text" [formControl]="inputMessage"
               [ngStyle]="{pointerEvents: !(isConnecting$ | async) ? 'none' : 'auto'}">
        <div class="btn-wrapper">
          <button class="btn"
                  (click)="sendMessage()"
                  [disabled]="!(isConnecting$ | async)">
            Send
          </button>
        </div>
      </div>
    </div>
    <div class="block-wrapper">
      <div class="item-wrapper">
        <div class="caption">Log:</div>
        <div class="log" [scrollTop]="logHeightScroll$ | async" #logWrapper>
          <div *ngFor="let log of (logs$ | async)" class="log-elem {{ log.color }}">
            <ng-container *ngIf="log.value; else noValue">
              {{ log.status }}: {{ log.value }}
            </ng-container>
            <ng-template #noValue>
              {{ log.status }}
            </ng-template>
          </div>
        </div>
        <div class="btn-wrapper">
          <button class="btn" (click)="clearLog()">Clear log</button>
        </div>
      </div>
    </div>
  </div>
</div>
