.content-wrapper {
  margin-top: 100px;
}

.content {
  display: flex;
}

.block-wrapper {
  width: 300px;
  padding: 0 20px;
  border-right: 1px solid #cccccc;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}

.item-wrapper {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.caption {
  font-weight: 700;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 5px;
}

.btn-wrapper {
  margin-top: 6px;
}

.btn {
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  font-size: 14px;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    color: #f60;
    border-color: #f60;
  }

  &:disabled {
    pointer-events: none;
  }
}

.log {
  border: solid 1px #999999;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 172px;
  overflow-y: auto;
}

.log-elem {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &.blur {
    color: #8178ff;
  }

  &.green {
    color: #68ad4f;
  }

  &.red {
    color: #ff7878;
  }
}
