<mat-card>
  <div class="gl-subtitle">checkbox</div>
  <div class="checkbox-wrapper">
    <div class="checkbox-item-wrapper">
      <mat-checkbox [checked]="allComplete"
                    [(ngModel)]="task.completed"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked); checkTask(task)">
        {{ task.title }}
      </mat-checkbox>
    </div>
    <div class="checkbox-items-list-wrapper">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox (change)="checkTask(subtask)"
                        [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{ subtask.title }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </div>
  <div class="gl-btn-wrapper">
    <button (click)="next()" mat-raised-button color="primary">Получить в консоли</button>
  </div>
</mat-card>
