<mat-drawer-container autosize>
  <mat-drawer #drawerComponent class="sidenav" mode="side">
    <app-side-nave></app-side-nave>
  </mat-drawer>

  <mat-drawer-content [class.drawer-content]="!isBrowserService.isBrowser">
    <div class="gl-layout">
      <div class="gl-layout-header">
        <app-header></app-header>
      </div>
      <div class="gl-layout-content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <app-global-loader></app-global-loader>
  </mat-drawer-content>

</mat-drawer-container>
