<mat-card>
  <div class="content-wrapper">
    <div class="gl-subtitle">slider</div>
    <form (submit)="submit()" [formGroup]="form">
      <div class="slider-wrapper">
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Фильтр</h2>

            <div class="params-wrapper">
              <mat-form-field class="item">
                <mat-label>От</mat-label>
                <input matInput type="number" formControlName="min">
              </mat-form-field>
              <mat-form-field class="item">
                <mat-label>До</mat-label>
                <input matInput type="number" formControlName="max">
              </mat-form-field>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card class="result-card">
          <mat-card-content class="result-wrapper">
            <h2>Цена</h2>
            <mat-form-field class="price-num-input item">
              <mat-label>Цена</mat-label>
              <input matInput type="number" formControlName="price" [value]="priceSlider$ | async">
            </mat-form-field>

            <mat-slider
              class="item"
              formControlName="priceSlider"
              [max]="max$ | async"
              [min]="min$ | async"
              [step]="step$ | async"
              [thumbLabel]="true"
              [tickInterval]="10"
              [value]="price$ | async">
            </mat-slider>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="gl-btn-wrapper">
        <button type="submit" mat-raised-button color="primary">Получить в консоли</button>
      </div>
    </form>
  </div>
</mat-card>
