.slider-wrapper {
  margin-bottom: 10px;
}

.example-h2 {
  margin: 0 8px 16px;
}

.params-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.item {
  margin: 8px;
}

.result-card h2 {
  margin: 0 8px;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
}

.price-num-input {
  width: 100px;
}
