<div class="sidenav-content">
  <div class="btn-next-wrapper">
    <button mat-icon-button class="btn-next" (click)="sidenavHide()">
      <mat-icon class="material-icons">&#xe020;</mat-icon>
    </button>
  </div>

  <div class="section-wrapper" *ngFor="let section of sections">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="section-caption-wrapper">
          <mat-panel-title class="section-caption">
            {{ section.sectionName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a class="section-value" *ngFor="let page of section.pages"
           [routerLink]="[page.pageLink]" [routerLinkActive]="['active-value']">
          {{ page.pageName }}
        </a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

