@import "../../../../common/styles/colors";
@import "../../../../common/styles/consts";

.sidenav-content {
  width: $sidenav-width;
  height: 100%;
  background-color: #ffe9db;
}

.btn-next-wrapper {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-next {
  margin-right: 10px;
}

.section-caption-wrapper {
  height: 40px;
}

.section-caption {
  font-size: 18px;
  font-weight: bold;
  color: $main-color;
}

.section-value {
  font-size: 18px;
  font-weight: bold;
  color: $main-background;
  display: block;

  & + & {
    margin-top: 8px;
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.active-value {
  color: #7b4b17;

  &:hover {
    text-decoration: none;
  }
}
