@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/common/styles/style';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
