a {
  cursor: pointer;
}

.gl-row {
  &:hover {
    background-color: #f5f5f5;
  }
}

.mat-column-description {
  overflow: hidden;
  height: 40px;
}

.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-clicks, .mat-column-rating, .mat-column-status {
  background-color: rgba(109, 38, 245, .05);
}

.mat-column-status {
  text-align: end !important;
}

.status {
  &.ACTIVE {
    color: #000000;
  }
  &.INACTIVE {
    color: #000000;
    opacity: 0.3;
  }
  &.REJECTED {
    color: #E93587;
  }
  &.MODERATION {
    color: #F9DD59;
  }
}

.no-data {
  font-size: 12px;
  line-height: 20px;
}
