<mat-table class="gl-table-wrapper" mat-table [dataSource]="dataSource" matSort
           (matSortChange)="sort($event)">

  <ng-container [matColumnDef]="COLUMN_NAME.code">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.code]">
      Code
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.code]">
      <ng-container *ngIf="coupon.code; else noData">
        <div class="gl-overflow-table-cell">
          {{ coupon.code }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.description">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.description]">
      Description
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.description]">
      <ng-container *ngIf="coupon.description; else noData">
        <div [class]="COLUMN_NAME.description">
          {{ coupon.description }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.clicks">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef mat-sort-header
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.clicks]">
      Clicks
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.clicks]">
      <ng-container *ngIf="coupon.clicksCount; else noData">
        <div class="gl-overflow-table-cell">
          {{ coupon.clicksCount }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">0</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.rating">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef mat-sort-header
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.rating]">
      Rating
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.rating]">
      <ng-container *ngIf="coupon.successRate; else noData">
        <div class="gl-overflow-table-cell">
          {{ (coupon.successRate) | decimalInPercent }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.merchant">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.merchant]">
      Merchant
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.merchant]">
      <ng-container *ngIf="coupon.shop && coupon.shop.title; else noData">
        <div class="gl-overflow-table-cell">
          <a class="gl-link" [href]="(coupon.shop.link) | linkTransform">
            {{ coupon.shop.title }}
          </a>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.dateAdded">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef mat-sort-header
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.dateAdded]">
      Date Added
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.dateAdded]">
      <ng-container *ngIf="coupon.createdDateTimeMS; else noData">
        <div class="gl-overflow-table-cell">
          {{ (coupon.createdDateTimeMS) | dateTransform }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.source">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.source]">
      Source
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.source]">
      <ng-container *ngIf="coupon.source; else noData">
        <div class="gl-overflow-table-cell">
          {{ coupon.source.name }}
          <br>
          <div class="gl-link">
            {{ coupon.source.channelLink }}
          </div>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.creator">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.creator]">
      Creator
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.creator]">
      <ng-container *ngIf="coupon.creator && coupon.creator.firstName && coupon.creator.lastName; else noData">
        <div class="gl-overflow-table-cell">
          {{ coupon.creator.firstName }} {{ coupon.creator.lastName }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="COLUMN_NAME.status">
    <mat-header-cell class="gl-header-cell" *matHeaderCellDef
                     appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.status]">
      Status
    </mat-header-cell>
    <mat-cell class="gl-cell" *matCellDef="let coupon"
              appColumnSize [columnSize]="COLUMN_SIZE[COLUMN_NAME.status]">
      <ng-container *ngIf="coupon.status; else noData">
        <div class="gl-overflow-table-cell status"
             [ngClass]="coupon.status">
          {{ (coupon.status) | upperCaseInStandard }}
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="no-data">—</div>
      </ng-template>
    </mat-cell>
  </ng-container>

  <mat-header-row class="gl-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <a class="gl-row-wrapper" *matRowDef="let coupon; columns: displayedColumns;">
    <mat-row class="gl-row"></mat-row>
  </a>
</mat-table>
