.form-wrapper {
  width: 700px;
}

.control-wrapper {
  margin: 20px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.caption {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-item {
  display: block;

  & + & {
    margin-top: 20px;
  }
}

.user-name-wrapper {
  width: 300px;
}


.phone-wrapper {
  width: 300px;
}

.order-receipt-wrapper {
  display: flex;
  flex-direction: column;
}

.order-receipt-item {
  & + & {
    margin-top: 10px;
  }
}

.link {
  color: #3f51b5;

  &:hover {
    text-decoration: underline;
  }
}

.prise-item {
  & + & {
    margin-left: 8px;
  }
}

.order-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  margin-left: 20px;
  padding: 20px 0;
}

.order-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.order-value {
  white-space: normal;
}

.order-prise {
  font-size: 20px;
}

.order-caption {
  font-size: 18px;
  text-decoration: underline;
  color: darkred;
  margin-bottom: 10px;
}

.chip-list {
  width: 100%;
}

.date-wrapper {
  display: flex;
}

.date-item {
  & + & {
    margin-left: 20px;
  }
}

.input-data-day {
  pointer-events: none;
  user-select: none;
}
