<div class="gl-subtitle">Заказ пиццы</div>
<form class="form-wrapper" [formGroup]="form" (submit)="submit()">
  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Имя</div>
      <mat-form-field class="user-name-wrapper form-item">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Введите Ваше имя"
               formControlName="userName">
        <mat-hint>Оно будет указано в Вашем заказе</mat-hint>
        <mat-error *ngIf="form.controls.userName.hasError('required')">
          Обязательное поле!
        </mat-error>
        <mat-error *ngIf="form.controls.userName.hasError('minlength')">
          Минимум 3 символа!
        </mat-error>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Телефон</div>
      <mat-form-field class="phone-wrapper form-item">
        <mat-label>Телефон</mat-label>
        <span matPrefix>+7 &nbsp;</span>
        <input type="tel" matInput placeholder="999-999-9999" autocomplete="off"
               formControlName="phone">
        <mat-icon matSuffix>&#xe254;</mat-icon>
        <mat-error *ngIf="form.controls.phone.hasError('required')">
          Обязательное поле!
        </mat-error>
        <mat-error *ngIf="form.controls.phone.hasError('pattern')">
          Не соответствует телефонному формату
        </mat-error>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Получение заказа</div>
      <ng-container *ngIf="isBrowserService.isBrowser">
        <mat-radio-group class="order-receipt-wrapper form-item"
                         formControlName="orderReceipt">
          <mat-radio-button class="order-receipt-item" value="delivery">Доставка</mat-radio-button>
          <mat-radio-button class="order-receipt-item" value="pickup">
            Самовывоз
            <a class="link"
               href="https://2gis.ru/kazan/geo/2956122910634327/49.082939%2C55.853756?m=49.083575%2C55.853551%2F18.13">
              (​Копылова, 5 / Белинского, 1)
            </a>
          </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="form.controls.orderReceipt.touched &&
                    form.controls.orderReceipt.hasError('required')">
          Обязательное поле!
        </mat-error>
      </ng-container>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Ваш район</div>
      <ng-container *ngIf="isBrowserService.isBrowser">
        <mat-form-field appearance="fill">
          <mat-label>Укажите ваш район для доставки</mat-label>
          <mat-select formControlName="district"
                      [appDisableControl]="!form.controls.orderReceipt.value || form.controls.orderReceipt.value === 'pickup'">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let district of (districts$ | async)"
                        [value]="district.id">
              {{ district.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.district.hasError('required')">
            Обязательное поле!
          </mat-error>
        </mat-form-field>
      </ng-container>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Отфильтровать по цене</div>
      <mat-card-content>
        <div class="params-wrapper">
          <mat-form-field class="prise-item">
            <mat-label>От</mat-label>
            <input matInput type="number" formControlName="minPrise" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="prise-item">
            <mat-label>До</mat-label>
            <input matInput type="number" formControlName="maxPrise" autocomplete="off">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Выберете пиццу:</div>
      <ul>
        <ng-container *ngFor="let item of (itemsOrderPizzas$ | async); let i = index">
          <li *ngIf="item.prise > form.controls.minPrise.value && item.prise < form.controls.maxPrise.value">
            <mat-checkbox (input)="inputOrderPizza($event, item)">
              <div class="order-wrapper">
                <div>
                  <div class="order-image"
                       [ngStyle]="{'background-image': 'url(' + item.imageLink + ')'}"
                       matTooltip="{{ item.calories }} кКал/100гр" matTooltipPosition="right">
                  </div>
                  <div class="order-prise">{{ item.prise }}  ₽</div>
                </div>
                <div>
                  <div class="order-caption">{{ item.title }}</div>
                  <div class="order-value">{{ item.text }}</div>
                </div>
              </div>
            </mat-checkbox>
          </li>
        </ng-container>
      </ul>
      <mat-error
        *ngIf="form.controls.orderPizzasList.touched && form.controls.orderPizzasList.hasError('required')">
        Выберете хотя бы одну пиццу
      </mat-error>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Выберете напиток</div>
      <ul>
        <li *ngFor="let item of (itemsOrderDrinks$ | async); let i = index">
          <mat-checkbox [formControl]="form.controls.orderDrinksList['controls'][i]">
            <div class="order-wrapper">
              <div>
                <div class="order-image"
                     [ngStyle]="{'background-image': 'url(' + item.imageLink + ')'}"
                     matTooltip="{{ item.calories }} кКал/100гр" matTooltipPosition="below">
                </div>
              </div>
              <div>
                <div class="order-caption">{{ item.title }}</div>
                <div class="order-prise">{{ item.prise }}  ₽</div>
              </div>
            </div>
          </mat-checkbox>
        </li>
      </ul>
      <mat-error
        *ngIf="form.controls.orderDrinksList.touched &&
              form.controls.orderDrinksList.hasError('someTrue')">
        Выберете напиток
      </mat-error>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Ваши напитки:</div>
      <mat-chip-list>
        <ng-container *ngFor="let control of form.controls.orderDrinksList['controls']; let i = index">
          <mat-chip *ngIf="control.value"
                    (removed)="removeDrink(i)">
            {{ (itemsOrderDrinks$ | async)[i].title }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-card>
  </div>

  <div class="control-wrapper">
    <mat-card>
      <div class="caption">Когда доставить?</div>
      <div class="date-wrapper">
        <div class="date-item">
          <mat-form-field color="primary" appearance="fill">
            <mat-label>Выберете удобный день</mat-label>
            <input matInput [matDatepickerFilter]="filterDateDay" [matDatepicker]="picker"
                   formControlName="dateDay" class="input-data-day">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
            <mat-error
              *ngIf="form.controls.dateDay.hasError('required')">
              Выберете день доставки
            </mat-error>
          </mat-form-field>
        </div>

        <div class="date-item">
          <mat-form-field appearance="fill">
            <mat-label>Выберете время</mat-label>
            <mat-select disableRipple formControlName="dateTime">
              <mat-option *ngFor="let item of (itemsDateTime$ | async)"
                          [value]="{ hours: item.hours, minutes: item.minutes }"
                          [disabled]="
                          form.controls.dateDay.value.getDate() === (currentDate$ | async).getDate() &&
                          (item.hours < (currentHours$ | async) + 1 ||
                          (item.hours === (currentHours$ | async) + 1 && item.minutes <= (currentMinutes$ | async)))">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="gl-btn-wrapper">
    <button type="submit" mat-raised-button color="primary">Получить в консоли</button>
  </div>
</form>
