<div class="gl-content-not-auth gl-page-content">
  <div class="content-wrapper">
    <form class="gl-form-not-auth" [formGroup]="form" (submit)="submit()">
      <mat-form-field class="gl-input-wrapper">
        <mat-label>email</mat-label>
        <input type="text" matInput placeholder="Логин" autocomplete="off"
               formControlName="email">
      </mat-form-field>

      <mat-form-field class="gl-input-wrapper">
        <mat-label>Пароль</mat-label>
        <input type="text" matInput placeholder="Пароль" autocomplete="off"
               formControlName="password">
      </mat-form-field>

      <section>
        <div class="gl-btn-wrapper">
          <button type="submit" mat-raised-button color="primary" [disabled]="isLoading$ | async">Войти</button>
        </div>
      </section>
    </form>
  </div>
</div>
